.container {
  /* grid-column: 3 /8; */
  /* padding: 0 2rem; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* background-color: rgba(0, 55, 255, 0.405); */
  /* height: fit-content; */
  height: 2000px;
}

.main {
  /* justify-content: center; */
  /* min-height: 100vh; */
  /* padding: 4rem 0; */
  /* flex: 1; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.searched{
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

/* .form{
  justify-content: center;
}

.evolutions{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
